{% extends 'admin/base.html.twig' %}

{% set menu = 'administration' %}
{% set submenu = 'users' %}

    {% if form.vars.value.id is not null %}
        {% set page_name = 'Modification de '~form.vars.value.lastname~' '~form.vars.value.firstname %}
    {% else %}
        {% set page_name = 'Nouvel utilisateur' %}
    {% endif %}

    {% set breadcrumbs = [
            {"title": "Administration", 'url' : ""},
            {"title": "Liste des utilisateurs", 'url' : path('user_index') },
            {"title": page_name, 'url' : ""},
    ] %}

{% block body %}

{{ form_start(form, {'attr': {'novalidate': 'novalidate','class': 'needs-validation', 'autocomplete': 'off'}}) }}

    <div class="card bg-secondary shadow">

        <div class="card-header border-0">
            <div class='row align-items-center'>
                <div class="col">
                    <h3 class="mb-0">{{page_name}}</h3>
                </div>
                    <div class="col text-right">
                              <button class="btn btn-icon btn-success" type='submit' data-toggle="tooltip" data-animation="false" title="" data-original-title="Enregistrer le formulaire">
                                <span class="btn-inner--icon"><i class="fa fa-save"></i></span>
                            </button>
                        {% if form.vars.value.id is not null %}
                              <a href="javascript:void(0);" class="btn btn-sm btn-danger confirmDeleteBox"
                                data-message="Souhaitez-vous supprimer définitivement cet utilisateur ?<br/> Toutes les données rattachées à cet utilisateur seront automatiquement supprimées."
                                 data-token="{{ csrf_token('delete'~form.vars.value.id) }}"
                                 data-url="{{ path('user_delete', {'id': form.vars.value.id}) }}" ><i class="fa fa-trash"></i> Supprimer</a>
                        {% endif %}
                    </div>
            </div>
        </div>

      <div class="card-body">
        <h6 class="heading-small text-muted mb-4">Informations personnelles</h6>

          <div class="row">
              <div class="col-lg-4">
                  {{ form_widget(form.lastname) }}
              </div>
              <div class="col-lg-4">
                  {{ form_widget(form.firstname) }}
              </div>
              <div class="col-lg-4">
                  {{ form_widget(form.function) }}
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4">
                  {{ form_widget(form.phoneFix) }}
              </div>
              <div class="col-lg-4">
                  {{ form_widget(form.phoneMobile) }}
              </div>
              <div class="col-lg-4">
                  {{ form_widget(form.email) }}
              </div>
          </div>
          <div class="row">
              <div class="col-lg-6">
                  {{ form_widget(form.password.first) }}
              </div>
              <div class="col-lg-6">
                  {{ form_widget(form.password.second) }}
              </div>
          </div>
          <div class="row">
          </div>


        <hr/>
        <h6 class="heading-small text-muted mb-4">Droits et rôles sur la plateforme</h6>


          <div class="row mt-3">
              <div class="col-lg-12">
                <select class="form-control addCustomer" data-toggle="select" multiple name='roles[]'>
                      <option></option>
                            {% for role in roles %}
                            {% set isActive = 0 %}
                                {% if role.slug in item.roles %}
                                    {% set isActive = 1 %}
                                {% endif %}
                                <option value="{{role.slug}}" {% if isActive == 1%}selected{% endif %}>{{role.name}}</option>
                        {% endfor %}
                </select>
              </div>
          </div>

        <hr/>

        <h6 class="heading-small text-muted mb-4">Divers</h6>
          <div class="row">
              <div class="col-lg-6">
                  {{ form_widget(form.isActive) }}
              </div>
          </div>
          <div class="row">
              <div class="col-lg-6">
                  {{ form_widget(form.sendEmail) }}
              </div>
          </div>
      </div>

      <div class="card-footer">
          <button class="btn btn-icon btn-success" type='submit' >
                <span class="btn-inner--icon"><i class="fa fa-save"></i></span>
                <span class="btn-inner--text">Enregistrer</span>
            </button>

          <a class="btn btn-icon btn-sm" href='{{path("user_index")}}'>
                <span class="btn-inner--icon"><i class="fa fa-arrow-left"></i></span>
                <span class="btn-inner--text">Annuler</span>
            </a>

      </div>

    </div>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
{{ parent()}}

<script>
    setTimeout(function() {
        $("#user_password_first").val("");
    }, 500);
    setTimeout(function() {
        $("#user_password_first").val("");
    }, 1000);
    </script>
{% endblock %}
